<table
  width="600"
  style="
    border-collapse: collapse;
    margin: auto;
    background: #fff;
    border: 1px solid #f8f8f8;
  "
>
  <tr>
    <td style="padding: 15px">
      <table
        width="100%"
        style="
          border-collapse: collapse;
          margin: auto;
          background: #fff;
          border-radius: 30px;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        "
      >
        <tr>
          <td style="text-align: center; padding: 20px 0">
            <img
              src="https://somhako.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.d0026d9b.png&w=384&q=75"
              alt="Somhako"
              width="170px"
            />
          </td>
        </tr>
        <tr>
          <td style="text-align: center; padding: 20px 0">
            <h1 style="margin: 0 0 30px 0">
              Welcome to <br /><span style="color: #5500ff">Somhako</span>
            </h1>
          </td>
        </tr>
        <tr>
          <td
            style="
              background-image: linear-gradient(to right, #8f93f8, #8db9fb);
              border-radius: 30px;
              padding: 15px;
              text-align: center;
            "
          >
            <span
              style="
                border-radius: 20px;
                padding: 15px;
                display: inline-block;
                text-align: center;
                color: #fff;
                border: 1px solid;
                text-decoration: none;
                min-width: 200px;
                font-size: 18px;
              "
              >Candidate Login</span
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="padding: 15px">
      <table
        width="100%"
        style="
          margin: auto;
          border: 5px solid #5500ff;
          border-radius: 30px;
          padding: 15px;
        "
      >
        <tr>
          <td>
            <h2 style="margin: 0 0 15px 0; color: #646464">
              Dear {{fname}} {{lname}},
            </h2>
            <p style="margin: 0 0 15px 0; color: #646464">
              Thank you for verifying and trying Somhako!
              <br />
              We have created a user-friendly interface that allows you to find
              roles and get started on your next chapter.
              <!-- <br>
              To get started, we recommend taking a quick tour of the product to familiarize yourself with the different features and tools. You can find the tour by clicking on the link below:
              <br>
              [Tour Link] -->
              <br />
              If you have any questions or need any help, our customer support
              team is always ready to assist you. You can reach us by email at
              [support email address]
            </p>
            <h4 style="margin: 0 0 0 0; color: #646464">
              Thanks, <br />
              Team Somhako
            </h4>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="padding: 15px">
      <table
        width="100%"
        style="
          margin: auto;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          background: #fff;
          border-radius: 30px;
          padding: 20px 60px;
        "
      >
        <tr>
          <td>
            <p style="font-size: 18px">
              To stay on top of news, please Join our community
              <a href="https://discord.gg/934TJUe6BF" target="_blank"
                >https://discord.gg/934TJUe6BF</a
              >
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table
        width="100%"
        style="
          background-image: linear-gradient(to right, #8f93f8, #8db9fb);
          padding: 15px;
        "
      >
        <tr>
          <td>
            <p style="color: #fff; font-size: 14px">
              © 2022, All Rights Reserved, Somhako
            </p>
          </td>
          <td style="text-align: right">
            <a
              href="#"
              style="color: #fff; font-size: 14px; text-decoration: none"
              >Privacy Policy</a
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
