<table
  width="600"
  style="
    border-collapse: collapse;
    margin: auto;
    background: #fff;
    border: 1px solid #f8f8f8;
  "
>
  <tr>
    <td style="padding: 15px">
      <table
        width="100%"
        style="
          border: 5px solid #5500ff;
          margin: auto;
          background: #fff;
          border-radius: 30px;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        "
      >
        <tr>
          <td style="text-align: center; padding: 30px">
            <img
              src="https://somhako.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.d0026d9b.png&w=384&q=75"
              alt="Somhako"
              width="170px"
            />
          </td>
        </tr>
        <tr>
          <td style="text-align: center; padding: 20px">
            <h2 style="margin: 0 0 15px 0; color: #646464">Dear {{email}},</h2>
            <h4 style="margin: 0; color: #646464; font-weight: 300">
              We are sharing a list of the candidates with you for shortlisting.
              <br />
              Please click here to see or open the candidates list and below is
              the OTP to open this page.
              <span
                style="
                  color: #5500ff;
                  font-weight: 700;
                  display: block;
                  font-size: 30px;
                  padding: 10px;
                "
                >{{password}}</span
              >
            </h4>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; padding: 0 20px 30px 20px">
            <a
              href="{{absurl}}"
              style="
                display: inline-block;
                padding: 12px 20px;
                color: #5500ff;
                border: 1px solid;
                text-decoration: none;
                border-radius: 30px;
                min-width: 140px;
                text-align: center;
              "
              >View</a
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table
        width="100%"
        style="
          background-image: linear-gradient(to right, #8f93f8, #8db9fb);
          padding: 15px;
        "
      >
        <tr>
          <td>
            <p style="color: #fff; font-size: 14px">
              © 2022, All Rights Reserved, Somhako
            </p>
          </td>
          <td style="text-align: right">
            <a
              href="#"
              style="color: #fff; font-size: 14px; text-decoration: none"
              >Privacy Policy</a
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
