<table
  width="600"
  style="
    border-collapse: collapse;
    margin: auto;
    background: #fff;
    border: 1px solid #f8f8f8;
  "
>
  <tr>
    <td style="padding: 15px">
      <table
        width="100%"
        style="
          border-collapse: collapse;
          margin: auto;
          background: #fff;
          border-radius: 30px;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        "
      >
        <tr>
          <td style="text-align: center; padding: 20px 0">
            <img
              src="https://somhako.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.d0026d9b.png&w=384&q=75"
              alt="Somhako"
              width="170px"
            />
          </td>
        </tr>
        <tr>
          <td style="text-align: center; padding: 20px 0">
            <h2 style="margin: 0 0 25px 0">
              Welcome to your new
              <span style="color: #5500ff">Somhako</span>-mini <br />Account for
            </h2>
            <h3 style="margin: 0 0 30px 0">{{cname}}</h3>
          </td>
        </tr>
        <tr>
          <td
            style="
              background-image: linear-gradient(to right, #8f93f8, #8db9fb);
              border-radius: 30px;
              padding: 15px;
              text-align: center;
            "
          >
            <span
              style="
                border-radius: 20px;
                padding: 15px;
                display: inline-block;
                text-align: center;
                color: #fff;
                border: 1px solid;
                text-decoration: none;
                min-width: 200px;
                font-size: 18px;
              "
              >Organisation Login</span
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="padding: 15px">
      <table
        width="100%"
        style="
          margin: auto;
          border: 5px solid #5500ff;
          border-radius: 30px;
          padding: 15px;
        "
      >
        <tr>
          <td>
            <h2 style="margin: 0 0 15px 0; color: #646464">Hi Jhon Cerden,</h2>
            <h6 style="margin: 0 0 15px 0; color: #646464; font-size: 16px">
              You have a new Somhako-mini Account with the {{cname}}
            </h6>
            <p style="margin: 0 0 15px 0; color: #646464">
              You have completed the registration process to access the Somhako
              services. somhako - Mini is simple, straight forward tool that
              helps you to connect with the talented people across the world.
              You can join our community to directly tap the talents and also
              maintain your pipeline activities. Our outreach program is soon to
              be launched with more exiting features. Stay tuned...
            </p>
            <table
              width="100%"
              style="
                border: 1px solid #5500ff;
                border-radius: 20px;
                background: #fff;
                padding: 15px 30px;
                margin: 0 0 15px 0;
              "
            >
              <tr>
                <td>
                  <p style="margin: 0 0 15px 0">
                    <b>Your Username:</b> {{email}}
                  </p>
                  <p style="margin: 0 0 15px 0"><b>Account - (1)</b></p>
                  <p style="margin: 0; color: #646464">
                    For FAQ’s please visit our section or connect with us (our
                    email)
                  </p>
                </td>
              </tr>
            </table>
            <h4 style="margin: 0 0 0 0; color: #646464">
              Thanks, <br />
              Team Somhako
            </h4>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="padding: 15px">
      <table
        width="100%"
        style="
          margin: auto;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          background: #fff;
          border-radius: 30px;
          padding: 20px 60px;
        "
      >
        <tr>
          <td>
            <p style="font-size: 18px">
              To stay on top of news, please Join our community
              <a href="https://discord.gg/934TJUe6BF" target="_blank"
                >https://discord.gg/934TJUe6BF</a
              >
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table
        width="100%"
        style="
          background-image: linear-gradient(to right, #8f93f8, #8db9fb);
          padding: 15px;
        "
      >
        <tr>
          <td>
            <p style="color: #fff; font-size: 14px">
              © 2022, All Rights Reserved, Somhako
            </p>
          </td>
          <td style="text-align: right">
            <a
              href="#"
              style="color: #fff; font-size: 14px; text-decoration: none"
              >Privacy Policy</a
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
