<table
  width="600"
  style="
    border-collapse: collapse;
    margin: auto;
    background: #fff;
    border: 1px solid #f8f8f8;
  "
>
  <tr>
    <td style="padding: 15px">
      <table
        width="100%"
        style="
          border: 5px solid #5500ff;
          margin: auto;
          background: #fff;
          border-radius: 30px;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        "
      >
        <tr>
          <td style="text-align: center; padding: 30px">
            <img
              src="https://somhako.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.d0026d9b.png&w=384&q=75"
              alt="Somhako"
              width="170px"
            />
          </td>
        </tr>
        <tr>
          <td style="text-align: center; padding: 20px">
            <h2 style="margin: 0 0 15px 0; color: #646464">Dear {{user}},</h2>
            <h4 style="margin: 0; color: #646464; font-weight: 300">
              We hope this email finds you well.
              <br />
              We recently received a request to register an account using the
              email address {{user}}. If you did not make this request, please
              ignore this email.
              <br />
              To complete your registration and ensure that we have your correct
              email address on file, please click the link below to verify your
              email:
            </h4>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; padding: 20px 20px 30px 20px">
            <a
              href="{{absurl}}"
              style="
                display: inline-block;
                padding: 12px 20px;
                color: #fff;
                background: #58e780;
                text-decoration: none;
                border-radius: 30px;
                min-width: 140px;
                text-align: center;
              "
              >Verify</a
            >
          </td>
        </tr>
        <tr>
          <td style="text-align: center; padding: 10px">
            <p style="font-size: 12px">
              This link will expire in 24 hours, so please make sure to click it
              as soon as possible.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table
        width="100%"
        style="
          background-image: linear-gradient(to right, #8f93f8, #8db9fb);
          padding: 15px;
        "
      >
        <tr>
          <td>
            <p style="color: #fff; font-size: 14px">
              © 2022, All Rights Reserved, Somhako
            </p>
          </td>
          <td style="text-align: right">
            <a
              href="#"
              style="color: #fff; font-size: 14px; text-decoration: none"
              >Privacy Policy</a
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
